.page {
    align-items: stretch;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    font-family: var(--font-geist-sans);
    height: 100vh;
    max-height: 100vh;
  }
  
  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
    position: relative;
  
    .background-image {
      position: absolute;
      top: calc(max(50% - 175px, 15px));
      left: calc(max(50% - 137px, 15px));
      height: 350px;
      z-index: 0;
    }
  
    .titles {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 5px;
      z-index: 1;
  
      .title {
        font-size: 20px;
      }
  
      .subtitle {
        color: var(--muted-text);
        font-size: 14px;
      }
    }
  
    .apps {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      row-gap: 20px;
      justify-content: center;
      z-index: 1;
  
    }
  }
  
  .auth-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .auth-button-secondary {
    align-self: stretch;
    border: 1px solid #E997B6 !important;
    font-weight: 600 !important;
    color: #E997B6 !important;
  }