.layout {
  align-items: stretch;
  background-color: #e5e8eb;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

.page-title {
  align-items: center;
  color: #1c2127;
  display: flex;
  font-size: 28px;
  gap: 6px;

  .title {
    font-weight: 600;
  }

  .sub-header {
    color: var(--muted-text);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divider {
  align-self: stretch;
  border-right: 1px solid var(--border-medium);
}

.content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 10px;
}

/* .users {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin: 0 auto;
  min-height: 0;
  overflow-y: auto;
  padding: 0px 15px 15px 15px;
  width: 100%;
} */

.section {
  width: 100%;
}

.section-header {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}

.invite-card {
  align-items: center;
  background-color: var(--background-white);
  border: 1px solid var(--border-medium);
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow: hidden;
  width: 380px;
  padding: 8px 15px;
  width: 100%;
}
