/*
  slate blue: #33386a;
  dark blue: #1c214d;
  green: #566a33;
  orange: #fc5400;
  off-white: #fcfcfc;
  off-black: #222;
*/
body {
  background-color: #fcfcfc;
  color: #222;
  font-family: Geneva, Helvetica, Arial, sans-serif;
  font-size: 1.025em;
  margin: 0;
  max-width:2000px;
  min-width:380px;
}
h1, h2, h3, h4, nav a {
  font-family: Futura, "Oswald", "Lucida Grande", Arial, sans-serif;
}
h3 {
  color: #222;
  margin-block-end: 0.25em;
}
header {
  background-color: black;
  font-size: 1.25em;
}
header .home-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .well {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}
nav {
  flex-direction: column;
  text-align: right;
  width: 4em;
}
nav a {
  color: #566a33;
  text-decoration: none;
}
nav a.active {
  color: #566a33;
}
nav a:active, nav a:hover {
  color: #fc5400;
}
section {
  margin-bottom: 7.5%;
}
section h1 {
  font-style: italic;
}
section img {
  margin: 0 auto;
  width: 100%;
}
ul {
  margin-block-start: .25em;
}
.banner {
  margin-bottom: 5%;
  max-width: 800px;
}
.logo.text {
  height: 60px;
  width: 180px;
}
.picture {
  height: 100px;
  width: 100px;
}
.home-links .picture {
  border-radius: 5em;
  margin-right: .5em;
}
.home-links {
  min-height: 100px;
}
.well {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 80%;
}
